In [1]:
import numpy as np
import pandas as pd
print("Numpy Version", np. __version__)
print("Pandas Version", pd. __version__)

Numpy Version 2.0.2
Pandas Version 2.2.3

# Austin Car Crash Dataset
Crash data is obtained from the Texas Department of Transportation (TXDOT) Crash Record Information System (CRIS) database, which is populated by reports submitted by Texas Peace Officers throughout the state, including Austin Police Department (APD), and maintained by TXDOT.
This dataset contains crash-level records for crashes which have occurred in the last ten years. Crash data may take several days or weeks to be initially provided and finalized as it is furnished to the Austin Transportation & Public Works Department, therefore a two-week delay is implemented to help ensure more accurate and complete results.
Please note that the data and information on this website is for informational purposes only. While we seek to provide accurate information, please note that errors may be present and information presented may not be complete.

https://data.austintexas.gov/Transportation-and-Mobility/Austin-Crash-Report-Data-Crash-Level-Records/y2wy-tgr5

https://data.austintexas.gov/d/y2wy-tgr5?category=Transportation-and-Mobility&view_name=Austin-Crash-Report-Data-Crash-Level-Records

You can find a good description of the dataset here:
https://data.austintexas.gov/Transportation-and-Mobility/Austin-Crash-Report-Data-Crash-Level-Records/y2wy-tgr5/about_data


<img src="https://data.austintexas.gov/api/views/y2wy-tgr5/files/b5e18a1a-5071-4f7f-a658-07b498fb954e?download=true&filename=52029539143_bed94b40db_c.jpg" width="500" height="340">

In [2]:
crashes = pd.read_csv("https://github.com/kiat/Elements-of-Data-Analytics/raw/main/datasets/car_crash/Austin_Crash_Report_Data_Crash_Level_Records.csv.bz2", \
                      compression="bz2", low_memory=False) 
crashes.head()

,crash_id,crash_fatal_fl,crash_date,crash_time,case_id,rpt_latitude,rpt_longitude,rpt_block_num,rpt_street_pfx,rpt_street_name,...,pedestrian_serious_injury_count,motorcycle_death_count,motorcycle_serious_injury_count,other_death_count,other_serious_injury_count,onsys_fl,private_dr_fl,micromobility_serious_injury_count,micromobility_death_count,micromobility_fl
0,13719812,N,02/17/2014 03:03:00 AM,03:03:00,140480167,NaN,NaN,2000 W,NaN,NOT REPORTED,...,0,0,0,0,0,Y,N,0,0,NaN
1,13688137,N,01/29/2014 09:39:00 PM,21:39:00,140291668,NaN,NaN,10100,NaN,DEASSAU,...,0,0,0,0,0,N,N,0,0,NaN
2,13705309,N,02/12/2014 11:35:00 AM,11:35:00,140430690,NaN,NaN,2700,NaN,NOT REPORTED,...,0,0,0,0,0,Y,N,0,0,NaN
3,13707782,N,02/11/2014 06:02:00 PM,18:02:00,140421191,NaN,NaN,NaN,NaN,NOT REPORTED,...,0,0,0,0,0,Y,N,0,0,NaN
4,13711454,N,02/16/2014 11:00:00 PM,23:00:00,140471694,NaN,NaN,NaN,N,MOPAC NB TO EB 290,...,0,0,0,0,0,Y,N,0,0,NaN

In [3]:
crashes.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 148039 entries, 0 to 148038
Data columns (total 54 columns):
 #   Column                              Non-Null Count   Dtype
---  ------                              --------------   -----
 0   crash_id                            148039 non-null  int64
 1   crash_fatal_fl                      148039 non-null  object
 2   crash_date                          148039 non-null  object
 3   crash_time                          148039 non-null  object
 4   case_id                             146167 non-null  object
 5   rpt_latitude                        9480 non-null    float64
 6   rpt_longitude                       9480 non-null    float64
 7   rpt_block_num                       128195 non-null  object
 8   rpt_street_pfx                      79891 non-null   object
 9   rpt_street_name                     148033 non-null  object
 10  rpt_street_sfx                      98176 non-null   object
 11  crash_speed_limit                   148034 non-null  float64
 12  road_constr_zone_fl                 148034 non-null  object
 13  latitude                            145572 non-null  float64
 14  longitude                           145572 non-null  float64
 15  street_name                         148034 non-null  object
 16  street_nbr                          60897 non-null   float64
 17  street_name_2                       66438 non-null   object
 18  street_nbr_2                        0 non-null       float64
 19  crash_sev_id                        148038 non-null  float64
 20  sus_serious_injry_cnt               148039 non-null  int64
 21  nonincap_injry_cnt                  148036 non-null  float64
 22  poss_injry_cnt                      148036 non-null  float64
 23  non_injry_cnt                       148036 non-null  float64
 24  unkn_injry_cnt                      148034 non-null  float64
 25  tot_injry_cnt                       148037 non-null  float64
 26  death_cnt                           148039 non-null  int64
 27  contrib_factr_p1_id                 28561 non-null   float64
 28  contrib_factr_p2_id                 4568 non-null    float64
 29  units_involved                      148037 non-null  object
 30  atd_mode_category_metadata          148037 non-null  object
 31  pedestrian_fl                       3476 non-null    object
 32  motor_vehicle_fl                    146917 non-null  object
 33  motorcycle_fl                       3637 non-null    object
 34  bicycle_fl                          2457 non-null    object
 35  other_fl                            4856 non-null    object
 36  point                               145572 non-null  object
 37  apd_confirmed_fatality              148039 non-null  object
 38  apd_confirmed_death_count           148038 non-null  float64
 39  motor_vehicle_death_count           148039 non-null  int64
 40  motor_vehicle_serious_injury_count  148039 non-null  int64
 41  bicycle_death_count                 148039 non-null  int64
 42  bicycle_serious_injury_count        148039 non-null  int64
 43  pedestrian_death_count              148039 non-null  int64
 44  pedestrian_serious_injury_count     148039 non-null  int64
 45  motorcycle_death_count              148039 non-null  int64
 46  motorcycle_serious_injury_count     148039 non-null  int64
 47  other_death_count                   148039 non-null  int64
 48  other_serious_injury_count          148039 non-null  int64
 49  onsys_fl                            148037 non-null  object
 50  private_dr_fl                       148039 non-null  object
 51  micromobility_serious_injury_count  148039 non-null  int64
 52  micromobility_death_count           148039 non-null  int64
 53  micromobility_fl                    299 non-null     object
dtypes: float64(16), int64(15), object(23)
memory usage: 61.0+ MB

In [4]:
crashes.isna().sum()

crash_id                                   0
crash_fatal_fl                             0
crash_date                                 0
crash_time                                 0
case_id                                 1872
rpt_latitude                          138559
rpt_longitude                         138559
rpt_block_num                          19844
rpt_street_pfx                         68148
rpt_street_name                            6
rpt_street_sfx                         49863
crash_speed_limit                          5
road_constr_zone_fl                        5
latitude                                2467
longitude                               2467
street_name                                5
street_nbr                             87142
street_name_2                          81601
street_nbr_2                          148039
crash_sev_id                               1
sus_serious_injry_cnt                      0
nonincap_injry_cnt                         3
poss_injry_cnt                             3
non_injry_cnt                              3
unkn_injry_cnt                             5
tot_injry_cnt                              2
death_cnt                                  0
contrib_factr_p1_id                   119478
contrib_factr_p2_id                   143471
units_involved                             2
atd_mode_category_metadata                 2
pedestrian_fl                         144563
motor_vehicle_fl                        1122
motorcycle_fl                         144402
bicycle_fl                            145582
other_fl                              143183
point                                   2467
apd_confirmed_fatality                     0
apd_confirmed_death_count                  1
motor_vehicle_death_count                  0
motor_vehicle_serious_injury_count         0
bicycle_death_count                        0
bicycle_serious_injury_count               0
pedestrian_death_count                     0
pedestrian_serious_injury_count            0
motorcycle_death_count                     0
motorcycle_serious_injury_count            0
other_death_count                          0
other_serious_injury_count                 0
onsys_fl                                   2
private_dr_fl                              0
micromobility_serious_injury_count         0
micromobility_death_count                  0
micromobility_fl                      147740
dtype: int64

In [5]:
crashes.shape

(148039, 54)

In [6]:
crashes[['rpt_street_name']].head()

      rpt_street_name
0        NOT REPORTED
1             DEASSAU
2        NOT REPORTED
3        NOT REPORTED
4  MOPAC NB TO EB 290

In [7]:
# We can drop a row if the value of a specific column is NA. 
crashes.dropna(subset=['rpt_street_name'], inplace=True)
crashes.shape

(148033, 54)

# Question 1 - Which top 10 streets in Austin has the highest car crashes in the last years in this dataset? Order the output. 

street_name

In [8]:
df = pd.DataFrame(crashes[['rpt_street_name']].value_counts())

df.nlargest(10, 'count')

                 count
rpt_street_name
NOT REPORTED     10509
IH 35             3937
LAMAR             3865
MOPAC             3680
PARMER            1785
CONGRESS          1780
RESEARCH          1674
BEN WHITE         1562
IH 35 SB          1463
RIVERSIDE         1386

# Time and Day of the Crash

In [9]:

# Check if the dtype is object (string-like)
is_date_format = crashes['crash_date'].dtypes == 'object'
print(is_date_format)


# https://stackoverflow.com/questions/33365055/attributeerror-can-only-use-dt-accessor-with-datetimelike-values
crashes['crash_date'] = pd.to_datetime(crashes['crash_date'], errors='coerce')


# Convert if needed
# crashes['date'] = pd.to_datetime(crashes['crash_date'])


# extract the weekday from the date column
crashes['weekday'] = crashes['crash_date'].dt.weekday

print(crashes['weekday'])

# Extact hour of the day
crashes['hour'] = crashes['crash_date'].dt.hour

crashes['hour']

True
0         0
1         2
2         2
3         1
4         6
         ..
148034    5
148035    4
148036    0
148037    3
148038    3
Name: weekday, Length: 148033, dtype: int32

0          3
1         21
2         11
3         18
4         23
          ..
148034    16
148035    18
148036     0
148037    15
148038     8
Name: hour, Length: 148033, dtype: int32

# Question 2 - Which weekday has the highest car crashes?

In [10]:
# Converts 'crash_date' to datetime format
crashes['crash_date'] = pd.to_datetime(crashes['crash_date'], errors='coerce')

# Extracts the weekday (0=Monday, ..., 6=Sunday)
crashes['weekday'] = crashes['crash_date'].dt.weekday

# Counts the crashes by weekday
weekday_crash_counts = crashes['weekday'].value_counts().sort_index()

# Identifies the weekday with the most crashes
highest_crash_weekday = weekday_crash_counts.idxmax()
highest_crash_count = weekday_crash_counts.max()

# Maps the weekday numbers to names
weekday_mapping = {0: 'Monday', 1: 'Tuesday', 2: 'Wednesday', 3: 'Thursday', 
                   4: 'Friday', 5: 'Saturday', 6: 'Sunday'}
highest_crash_weekday_name = weekday_mapping[highest_crash_weekday]

# Prints the result
print(f"The weekday with the most crashes is: {highest_crash_weekday_name} (Count: {highest_crash_count})")

# Prints the full crash counts for each weekday
print("Crash counts by weekday:")
for day_num, count in weekday_crash_counts.items():
    print(f"{weekday_mapping[day_num]}: {count}")

The weekday with the most crashes is: Friday (Count: 24112)
Crash counts by weekday:
Monday: 20047
Tuesday: 21260
Wednesday: 21250
Thursday: 22115
Friday: 24112
Saturday: 21197
Sunday: 18052

# Question 3 - Which hour of the day has the highest car crashes?

In [11]:
# Converts 'crash_date' to datetime format
crashes['crash_date'] = pd.to_datetime(crashes['crash_date'], errors='coerce')

# Extracts the hour from the crash time
# Assuming there is a 'crash_time' column in HH:MM:SS format
crashes['hour'] = pd.to_datetime(crashes['crash_time'], format='%H:%M:%S', errors='coerce').dt.hour

# Counts crashes by hour of the day
hour_crash_counts = crashes['hour'].value_counts().sort_index()

# Identifies the hour with the most crashes
highest_crash_hour = hour_crash_counts.idxmax()
highest_crash_count = hour_crash_counts.max()

# Prints the result
print(f"The hour with the most crashes is: {highest_crash_hour}:00 (Count: {highest_crash_count})")

# Prints full crash counts for each hour
print("Crash counts by hour:")
for hour, count in hour_crash_counts.items():
    print(f"{hour}:00 - {count}")

The hour with the most crashes is: 17:00 (Count: 11405)
Crash counts by hour:
0:00 - 3751
1:00 - 3185
2:00 - 4324
3:00 - 2614
4:00 - 1760
5:00 - 2049
6:00 - 4155
7:00 - 6455
8:00 - 7141
9:00 - 6020
10:00 - 5689
11:00 - 6230
12:00 - 7736
13:00 - 8026
14:00 - 7862
15:00 - 8756
16:00 - 10297
17:00 - 11405
18:00 - 9990
19:00 - 7867
20:00 - 6177
21:00 - 6190
22:00 - 5699
23:00 - 4655

# Question 4 - Which Month of Year has the highest car crashes?

In [11]:
# Converts the 'crash_date' to datetime format
crashes['crash_date'] = pd.to_datetime(crashes['crash_date'], errors='coerce')

# Extracts the month from the crash date
crashes['month'] = crashes['crash_date'].dt.month

# Counts the crashes by month
month_crash_counts = crashes['month'].value_counts().sort_index()

# Identifies the month with the most crashes
highest_crash_month = month_crash_counts.idxmax()
highest_crash_count = month_crash_counts.max()

# Maps the month numbers to names
month_mapping = {
    1: 'January', 2: 'February', 3: 'March', 4: 'April',
    5: 'May', 6: 'June', 7: 'July', 8: 'August',
    9: 'September', 10: 'October', 11: 'November', 12: 'December'
}
highest_crash_month_name = month_mapping[highest_crash_month]

# Prints the result
print(f"The month with the most crashes is: {highest_crash_month_name} (Count: {highest_crash_count})")

# Prints the full crash counts for each month
print("Crash counts by month:")
for month_num, count in month_crash_counts.items():
    print(f"{month_mapping[month_num]}: {count}")

The month with the most crashes is: October (Count: 13625)
Crash counts by month:
January: 11672
February: 11764
March: 12859
April: 11996
May: 12416
June: 11840
July: 11883
August: 12500
September: 12403
October: 13625
November: 12456
December: 12619

# Question 5 - Are the total number of car crashes different in different years? 
Show a table of the total car crashes in the past 10 years (OK to include 2014)! Please display in ascending order of years ex. 2014, 2015...

In [12]:
# Converts 'crash_date' to datetime format
crashes['crash_date'] = pd.to_datetime(crashes['crash_date'], errors='coerce')

# Extracts the year from the crash date
crashes['year'] = crashes['crash_date'].dt.year

# Filters data for the past 10 years (2014 onwards)
filtered_crashes = crashes[crashes['year'] >= 2014]

# Counts the crashes by year
year_crash_counts = filtered_crashes['year'].value_counts().sort_index()

# Creates a table displaying total crashes by year in ascending order
crash_table = pd.DataFrame({
    'Year': year_crash_counts.index,
    'Total Crashes': year_crash_counts.values
}).sort_values(by='Year')

# Displays the table
print(crash_table)

    Year  Total Crashes
0   2014          13433
1   2015          15228
2   2016          16878
3   2017          16349
4   2018          16611
5   2019          16957
6   2020          12528
7   2021          13284
8   2022          13719
9   2023          12839
10  2024            207

# Reason and Involvment

# Question 6 - Which ratio of crashes occurred in or was related to a construction, maintenance, or utility work zone?

Cosnider the column 'road_constr_zone_fl'

Construction Zone - Indicates whether the crash occurred in or was related to a construction, maintenance, or utility work zone, regardless of whether or not workers were actually present at the time of the crash

In [13]:
# Counts the total crashes
total_crashes = crashes.shape[0]

# Counts crashes related to construction zones
construction_zone_crashes = crashes[crashes['road_constr_zone_fl'] == 'Y'].shape[0]

# Calculates the ratio
construction_zone_ratio = construction_zone_crashes / total_crashes

# Displays the results
print(f"Total crashes: {total_crashes}")
print(f"Crashes related to construction zones: {construction_zone_crashes}")
print(f"Ratio of construction zone-related crashes: {construction_zone_ratio:.2%}")

Total crashes: 148033
Crashes related to construction zones: 7693
Ratio of construction zone-related crashes: 5.20%

# Question 7 - Which ratio of crashes include involvement of pedestrain, motor vehicles, motorcycles, and bicycles? What is the ratio of each in comparision to total number of crashes?

Use the columns of:

pedestrian_fl  , motor_vehicle_fl , motorcycle_fl,  and bicycle_fl

In [14]:
# Defines the columns of interest
columns_of_interest = ['pedestrian_fl', 'motor_vehicle_fl', 'motorcycle_fl', 'bicycle_fl']

# Replaces the missing values with "N" (assume missing means no involvement)
crashes[columns_of_interest] = crashes[columns_of_interest].fillna("N")

# Counts the total crashes
total_crashes = crashes.shape[0]

# Calculates the counts for each type of involvement
involvement_counts = {
    col: crashes[crashes[col] == 'Y'].shape[0]
    for col in columns_of_interest
}

# Calculates the ratios
involvement_ratios = {
    col: count / total_crashes
    for col, count in involvement_counts.items()
}

# Displays the results
print(f"Total crashes: {total_crashes}")
print("Counts and Ratios for Each Involvement:")
for col, count in involvement_counts.items():
    print(f"{col}: {count} ({involvement_ratios[col]:.2%})")

Total crashes: 148033
Counts and Ratios for Each Involvement:
pedestrian_fl: 3475 (2.35%)
motor_vehicle_fl: 146912 (99.24%)
motorcycle_fl: 3637 (2.46%)
bicycle_fl: 2456 (1.66%)

# Deaths and Fatalities &#x1F622;

# Question 8 - What are the death counts of each year?

cosider the 'death_cnt'

In [15]:
#Sets the 'crash_date' in datetime format
crashes['crash_date'] = pd.to_datetime(crashes['crash_date'], errors='coerce')

# Extracts the year from 'crash_date'
crashes['year'] = crashes['crash_date'].dt.year

# Groups by year and sum the 'death_cnt' column
death_counts_by_year = crashes.groupby('year')['death_cnt'].sum().reset_index()

# Renames the columns for clarity
death_counts_by_year.columns = ['Year', 'Total Deaths']

# Displays results sorted by year
death_counts_by_year = death_counts_by_year.sort_values('Year', ascending=True)

print(death_counts_by_year)

    Year  Total Deaths
0   2014            56
1   2015           102
2   2016            78
3   2017            75
4   2018            71
5   2019            88
6   2020            92
7   2021           115
8   2022           117
9   2023            89
10  2024             1

# Question 9 - What is the ratio of bicycle deaths to total crashes each year?

cosider the column 'bicycle_death_count'

In [16]:
# Ensures 'crash_date' is in datetime format
crashes['crash_date'] = pd.to_datetime(crashes['crash_date'], errors='coerce')

# Extracts the year from 'crash_date'
crashes['year'] = crashes['crash_date'].dt.year

# Groups by year and calculate total crashes and total bicycle deaths
yearly_data = crashes.groupby('year').agg(
    total_crashes=('crash_id', 'count'),
    total_bicycle_deaths=('bicycle_death_count', 'sum')
).reset_index()

# Calculates the ratio of bicycle deaths to total crashes for each year
yearly_data['bicycle_death_ratio'] = yearly_data['total_bicycle_deaths'] / yearly_data['total_crashes']

# Displays the results sorted by year
yearly_data = yearly_data.sort_values('year', ascending=True)

print(yearly_data[['year', 'bicycle_death_ratio']])

    year  bicycle_death_ratio
0   2014             0.000000
1   2015             0.000197
2   2016             0.000118
3   2017             0.000245
4   2018             0.000060
5   2019             0.000236
6   2020             0.000319
7   2021             0.000226
8   2022             0.000073
9   2023             0.000467
10  2024             0.000000

# Question 10 - What is the ratio of crashes with death count>=1 to the total crashes?

cosider the 'death_cnt'

In [17]:
# Sets the 'death_cnt' is numeric form
crashes['death_cnt'] = pd.to_numeric(crashes['death_cnt'], errors='coerce')

# Calculates total number of crashes
total_crashes = crashes.shape[0]

# Filters the crashes where death count >= 1
crashes_with_death = crashes[crashes['death_cnt'] >= 1]

# Calculates the number of crashes with death count >= 1
crashes_with_death_count = crashes_with_death.shape[0]

# Calculates the ratio of crashes with death count >= 1 to total crashes
death_ratio = crashes_with_death_count / total_crashes

# Displays the result
print(f"Total crashes: {total_crashes}")
print(f"Crashes with death count >= 1: {crashes_with_death_count}")
print(f"Ratio of crashes with death count >= 1 to total crashes: {death_ratio:.4f}")

Total crashes: 148033
Crashes with death count >= 1: 839
Ratio of crashes with death count >= 1 to total crashes: 0.0057

# Question 11 - What are the total death counts of crashes of each different accident involvements ( pedestrain, motor vehicles, motorcycles, and bicycles) ?

cosider the column 'death_cnt'
and 

'pedestrian_fl' , 'motor_vehicle_fl' , 'motorcycle_fl' and 'bicycle_fl'

In [19]:
# Sets the 'death_cnt' in numeric if it is correct
crashes['death_cnt'] = pd.to_numeric(crashes['death_cnt'], errors='coerce')

# Calculates the total death counts for accidents involving pedestrians
pedestrian_deaths = crashes[crashes['pedestrian_fl'] == 'Y']['death_cnt'].sum()

# Calculate the total death counts for accidents involving motor vehicles
motor_vehicle_deaths = crashes[crashes['motor_vehicle_fl'] == 'Y']['death_cnt'].sum()

# Calculates the total death counts for accidents involving motorcycles
motorcycle_deaths = crashes[crashes['motorcycle_fl'] == 'Y']['death_cnt'].sum()

# Calculates the total death counts for accidents involving bicycles
bicycle_deaths = crashes[crashes['bicycle_fl'] == 'Y']['death_cnt'].sum()

# Displays the results
print(f"Total death count for pedestrian-involved accidents: {pedestrian_deaths}")
print(f"Total death count for motor vehicle-involved accidents: {motor_vehicle_deaths}")
print(f"Total death count for motorcycle-involved accidents: {motorcycle_deaths}")
print(f"Total death count for bicycle-involved accidents: {bicycle_deaths}")

Total death count for pedestrian-involved accidents: 319
Total death count for motor vehicle-involved accidents: 845
Total death count for motorcycle-involved accidents: 126
Total death count for bicycle-involved accidents: 28